<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!-- <meta name="description" content="{{#if desc}} {{desc}} {{else}}We bring the event portal to unify us and help us survive this Corona with the same events and safety of our home.{{/if}}">
        <meta name="robots" content="index, follow">
        <meta name="keywords" content="Manipal Institute of Technology, Manipal, Instute, of, Technology, Manipal Events, Events, MIT Manipal, MIT Manipal Events, Events Portal, Clubs of Manipal, Clubs">
        <meta property="og:site_name" content="Events Portal, Manipal Institute of Technology">
        <meta property="og:title" content="{{#if title}} {{title}} {{else}} Events Portal, Manipal Institute of Technology {{/if}}" />
        <meta property="og:description" content="{{#if desc}} {{desc}} {{else}}We bring the event portal to unify us and help us survive this Corona with the same events and safety of our home.{{/if}}" />
        <meta property="og:image" itemprop="image" content="https://clubs.mitportals.in/images/sharing.png">
        <meta property="og:type" content="website" /> -->
        <title>
            StopForcedConversion.com
        </title>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-153555359-1">
        </script>
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-153555359-1');
        </script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
        <link rel="stylesheet" href="/../stylesheets/layouts/index.css">
        <link rel="stylesheet" href="/../stylesheets/layouts/people.css">
        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"> -->
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,600' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
        <!-- <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.6.6/jquery.fullPage.css'> -->
   </head>
   <body>
       <!-- <div class="header"> -->
        <div class="header-div">  
            <nav class="navbar">
                <div class="content">
                <div class="logo">
                    <a href="#">stopforcedconversion.com</a>
                </div>
                <ul class="menu-list">
                    <div class="icon cancel-btn">
                    <i class="fas fa-times"></i>
                    </div>
                    <li><a id="home" href="#">Home</a></li>
                    <li><a id="letter" href="#">Letter for our Visitors</a></li>
                    <li><a id="people" href="#">People affected</a></li>
                    <!-- <li><a href="#">Features</a></li> -->
                    <li><a id="contact" href="#">Contact Us</a></li>
                </ul>
                <div class="icon menu-btn">
                    <i class="fas fa-bars"></i>
                </div>
                </div>
            </nav>
        </div>
       <!-- </div> -->
       <!-- <div class="header"> -->
       <section class="people">

       </section>
       <!-- </div> -->
        <!-- <script>
            document.onreadystatechange = function() { 
            if (document.readyState !== "complete") { 
                document.querySelector( 
                  "body").style.visibility = "hidden"; 
                document.querySelector( 
                  "#loader").style.visibility = "visible"; 
            } else { 
                document.querySelector( 
                  "#loader").style.display = "none"; 
                document.querySelector( 
                  "body").style.visibility = "visible"; 
            } 
        }; 
        </script> -->
        <script>
            const body = document.querySelector("body");
            const navbar = document.querySelector(".navbar");
            const menuBtn = document.querySelector(".menu-btn");
            const cancelBtn = document.querySelector(".cancel-btn");
            menuBtn.onclick = ()=>{
              navbar.classList.add("show");
              menuBtn.classList.add("hide");
              body.classList.add("disabled");
            }
            cancelBtn.onclick = ()=>{
              body.classList.remove("disabled");
              navbar.classList.remove("show");
              menuBtn.classList.remove("hide");
            }
            window.onscroll = ()=>{
              this.scrollY > 20 ? navbar.classList.add("sticky") : navbar.classList.remove("sticky");
            }
          </script>
          <script>
              
          </script>
          <!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.6.6/jquery.fullPage.min.js'></script> -->
          <script  src="./js/function.js"></script>
   </body>
</html>