<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!-- <meta name="description" content="{{#if desc}} {{desc}} {{else}}We bring the event portal to unify us and help us survive this Corona with the same events and safety of our home.{{/if}}">
        <meta name="robots" content="index, follow">
        <meta name="keywords" content="Manipal Institute of Technology, Manipal, Instute, of, Technology, Manipal Events, Events, MIT Manipal, MIT Manipal Events, Events Portal, Clubs of Manipal, Clubs">
        <meta property="og:site_name" content="Events Portal, Manipal Institute of Technology">
        <meta property="og:title" content="{{#if title}} {{title}} {{else}} Events Portal, Manipal Institute of Technology {{/if}}" />
        <meta property="og:description" content="{{#if desc}} {{desc}} {{else}}We bring the event portal to unify us and help us survive this Corona with the same events and safety of our home.{{/if}}" />
        <meta property="og:image" itemprop="image" content="https://clubs.mitportals.in/images/sharing.png">
        <meta property="og:type" content="website" /> -->
        <title>
            Graduation Santa
        </title>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-153555359-1">
        </script>
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-153555359-1');
        </script>
        <script src="http://d3js.org/d3.v3.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
        <link rel="stylesheet" href="/../stylesheets/layouts/index.css">
        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"> -->
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,600' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
        <script src="https://jscharting.com/JSC15/jscharting.js"></script>
        <script src="/../js/jquery.circlechart.js"></script>
        <!-- <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.6.6/jquery.fullPage.css'> -->
   </head>
   <body>
       <!-- <div class="header"> -->
        
       <!-- </div> -->
       <!-- <div id="fullpage"> -->
        <section class="landingsec sectiondes vertical-scrolling">
            <div class="centralhead">
                <div class="title">
                    <h1 style="text-transform: uppercase;">Graduation Santa</h1>
                </div>
                <div class="subit">
                    <h5>Graduation Santa is based on the game of Secret santa which is a Western Christmas tradition in which members of a group or community are randomly assigned a person to whom they give a gift. The identity of the gift giver is to remain a secret and should not be revealed. Have Fun!</h5>
                </div>
            </div>
            <div class="registerform">
                <h2>Be a Graduation Santa</h2>
                <div class="registerformed">
                    <form action="post" class="joinform">
                        <select type="select" name="name" id="name" placeholder= "Please select your name" class="inputar">
                          <option value="0">Select Your Name</option>
                        </select>
                        <input type="email" name="email" id="email" placeholder= "Email Address" class="inputar">
                        <input type="text" name="flat" id="flat" placeholder= "Flat Number, Building Name / House Number / Plot Number" class="inputar">
                        <input type="text" name="locat" id="locat" placeholder= "Area, Street Address, Full Address" class="inputar">
                        <input type="text" name="state" id="state" placeholder= "Town, State" class="inputar">
                        <input type="text" name="pin" id="pin" placeholder= "Pin Code" class="inputar">
                        <input type="text" name="contact" id="contact" placeholder= "Contact Number" class="inputar">
                        <textarea name="interests" id="interests" placeholder="Four Things about you, please seperate by comma" class="inputar"></textarea>
                    </form>
                </div>
                <div class="submit"><span>Register for Graduation Santa</span></div>
            </div>
        </section>
        
        <script>
            const body = document.querySelector("body");
            const navbar = document.querySelector(".navbar");
            const menuBtn = document.querySelector(".menu-btn");
            const cancelBtn = document.querySelector(".cancel-btn");
            menuBtn.onclick = ()=>{
              navbar.classList.add("show");
              menuBtn.classList.add("hide");
              body.classList.add("disabled");
            }
            cancelBtn.onclick = ()=>{
              body.classList.remove("disabled");
              navbar.classList.remove("show");
              menuBtn.classList.remove("hide");
            }
            window.onscroll = ()=>{
              this.scrollY > 20 ? navbar.classList.add("sticky") : navbar.classList.remove("sticky");
            }
          </script>
          <script>
              
          </script>
          <!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.6.6/jquery.fullPage.min.js'></script> -->
          <script  src="./js/function.js"></script>
          <script  src="./js/animations.js"></script>
          <script  src="./js/map.js"></script>
          <script>
             $.get('/santaapi/getregisternames', (names) => {
              names.forEach(name => {
                $("#name").append(`<option value="${name}">${name}</option>`)
              });
             });

             $('.submit').click(function(){
               var nameform = $('#name').val();
               var emailform = $('#email').val();
               var flatform = $('#flat').val();
               var locatform = $('#locat').val();
               var stateform = $('#state').val();
               var pinform = $('#pin').val();
               var dataform = $('#interests').val();
               var contactform = $('#contact').val();
               $.post('/santaapi/registersanta', {name: nameform, email: emailform, flat: flatform, locat: locatform, state: stateform, pin: pinform, interests: dataform, contact: contactform}).done(function( data ) {
                alert(data );
              })
             })
          </script>
   </body>
</html>