@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", Arial, sans-serif; }

/* custom scroll bar */
::-webkit-scrollbar {
  width: 10px; }

::-webkit-scrollbar-track {
  background: #f1f1f1; }

::-webkit-scrollbar-thumb {
  background: #888; }

::selection {
  background: rgba(155, 158, 161, 0.3); }

.content {
  max-width: 1250px;
  margin: auto;
  padding: 0 30px; }

.navbar {
  position: fixed;
  width: 100%;
  z-index: 2;
  padding: 25px 0;
  transition: all 0.3s ease; }

.navbar.sticky {
  background: #1b1b1b;
  padding: 10px 0;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1); }

.navbar .content {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.navbar .logo a {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none; }

.navbar .menu-list {
  display: inline-flex; }

.menu-list li {
  list-style: none; }

.menu-list li a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.3s ease; }

.menu-list li a:hover {
  color: #007bff; }

.banner {
  background: url("banner.jpg") no-repeat;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }

.about {
  padding: 30px 0; }

.about .title {
  font-size: 38px;
  font-weight: 700; }

.about p {
  padding-top: 20px;
  text-align: justify; }

.icon {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none; }

.menu-list .cancel-btn {
  position: absolute;
  right: 30px;
  top: 20px; }

@media (max-width: 1230px) {
  .content {
    padding: 0 60px; } }

@media (max-width: 1100px) {
  .content {
    padding: 0 40px; } }

@media (max-width: 900px) {
  .content {
    padding: 0 30px; } }

@media (max-width: 868px) {
  body.disabled {
    overflow: hidden; }
  .icon {
    display: block; }
  .icon.hide {
    display: none; }
  .navbar .menu-list {
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    left: -100%;
    top: 0px;
    display: block;
    padding: 40px 0;
    text-align: center;
    background: #222;
    transition: all 0.3s ease; }
  .navbar.show .menu-list {
    left: 0%; }
  .navbar .menu-list li {
    margin-top: 45px; }
  .navbar .menu-list li a {
    font-size: 23px;
    margin-left: -100%;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .navbar.show .menu-list li a {
    margin-left: 0px; } }

@media (max-width: 380px) {
  .navbar .logo a {
    font-size: 27px; } }

.header-div {
  height: 100%;
  margin: 0 auto; }

.sectiondes {
  min-height: 100vh;
  background-color: #ffffff;
  position: relative; }

.landingsec {
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../images/mainbg.jpg");
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; }
  .landingsec .centralhead {
    width: 45%;
    display: flex;
    justify-content: center;
    color: #fff;
    flex-direction: column;
    padding: 1%;
    margin: 1%; }
    .landingsec .centralhead .title {
      margin-bottom: 35px;
      font-size: 1.7rem;
      font-weight: lighter; }
    .landingsec .centralhead .subit {
      width: 70%; }
    .landingsec .centralhead .letterbutton {
      border: solid #fff thin;
      width: max-content;
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 30px; }
      .landingsec .centralhead .letterbutton:hover {
        cursor: pointer;
        background: rgba(255, 255, 255, 0.5); }
  .landingsec .registerform {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    flex-direction: column;
    padding: 1%;
    margin: 1%;
    box-shadow: 0 0 1rem 0 rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px); }
  .landingsec .registerform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .landingsec .registerform .registerformed {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
      margin: 10px; }
      .landingsec .registerform .registerformed .inputar {
        border: none;
        background: #222222;
        height: 50px;
        width: 100%;
        margin-top: 5px;
        padding: 10px;
        border-radius: 5px;
        color: #fff; }
      .landingsec .registerform .registerformed select {
        border: none;
        background: #222222;
        height: 50px;
        width: 100%;
        margin-top: 5px;
        padding: 10px;
        border-radius: 5px; }
    .landingsec .registerform .submit {
      border: none;
      background: #bc4e9c;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #f80759, #bc4e9c);
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #f80759, #bc4e9c);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      display: flex;
      height: 50px;
      width: 50%;
      margin-top: 5px;
      padding: 20px;
      border-radius: 5px;
      align-items: center; }
      .landingsec .registerform .submit:hover {
        cursor: pointer;
        background: rgba(182, 100, 159, 0.533);
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #ff4482, #b1619a);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #ff6e9e, #5f2850);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

@media (max-width: 700px) {
  .landingsec {
    flex-direction: column; }
    .landingsec .centralhead {
      width: 90%;
      text-align: center; }
      .landingsec .centralhead .subit {
        width: 100%; }
    .landingsec .registerform {
      margin: 10px;
      width: 90%; }
      .landingsec .registerform .submit {
        width: 80%; } }
